body {
    padding: 1.2em;
}
@media all and (min-width:475px){body{padding: 4.8em;}}

a, a:hover {
    color: #ea7123;
}

div {padding: 0.6em;color: #FFF7C3;}
div:first-child {padding: 0; margin: 0 0 1.2em;}

.knockout {
    height: 10em;
    width: 10em;
    border-radius: 5em;
    background-image: linear-gradient(to bottom, #fff , #C5FFEB);
}

svg.knockout-text-container {
    height: 10em;
    width: 10em;
    border-radius: 5em;   
}

body.github {
    background: #000;
    padding: 2.8em 4.0em;
}

body.github h1 {
    color: #777;
    font-size: 4.75em;
    font-weight: bold;
    margin-top: 1em;
}
@media all and (min-width:475px){body.github h1{color: #333;}}

body.github h1 span {
    color: #555;
}
@media all and (min-width:475px){body.github h1 span{color: #777;}}

body.github p {
    padding-left: 0.3em
}

body.github p a {
    font-size: 1.3em;
    font-weight: bold;
    color: #67cbbb; 
}

@media all and (min-width:475px){body.github a{font-size: 1.5em;}}

body.github a:hover {
    text-decoration: none;
    color: #999; 
}

body.github div img {
    width: 64px;
    position: absolute;
    left: 16.0em;
}
@media all and (min-width:475px){body.github div img{left: 26.0em;}}