body {
    padding: 1.2em;
}
@media all and (min-width:475px){body{padding: 4.8em;}}

a, a:hover {
    color: #ea7123;
}

div {padding: 0.6em;color: #FFF7C3;}
div:first-child {padding: 0; margin: 0 0 0 19.75rem}

.knockout {
    height: 10em;
    width: 10em;
    border-radius: 5em;
    background-image: linear-gradient(to bottom, #fff , #C5FFEB);
}

svg.knockout-text-container {
    height: 10em;
    width: 10em;
    border-radius: 5em;   
}

body.github {
    background: #001429;
    padding: 2.8em 4.0em;
}

body.github h1 {
    color: #0058b5;
    font-size: 3.75em;
    font-weight: bold;
    margin: 1.375rem 0 2.75rem 0;
    line-height: 4.75rem;
}

body.github h1 span {
    color: #fff;
    display: block;
}
@media all and (min-width:600px){body.github h1 span{display: inline;}}

body.github p {
    padding-left: 0.3em
}

body.github p a {
    font-size: 1.3em;
    font-weight: bold;
    color: #20ebf8; 
}

@media all and (min-width:475px){body.github a{font-size: 1.5em;}}

body.github a:hover {
    text-decoration: none;
    color: #0058b5; 
}

body.github div img {
    width: 100px;
    position: absolute;
    left: 16.0em;
}
@media all and (min-width:600px){body.github div img{width: 200px;left: 26.0em;}}