.knockout {
    /* Ensure the bottom layer is full screen */
    height: 10em;
    width: 10em;
    border-radius: 5em;
    /* Add a colorful texture and cutom font-styling */
    background-image: linear-gradient(to top, #fff , #eee);
}

svg.knockout-text-container {
    height: 10em;
    width: 10em;
    border-radius: 5em;   
}